/* Info.css */

.info-container {
    display: flex;
    padding-left: 10%; 
    padding-bottom: 0px;
  }
  
  .info-content {
    padding: 20px; 
    max-width: 30%; 
    margin-right: auto; 
  }
  
  .info-image {
    align-self: flex-end;
    padding-top: 0%;
    width: 65%; /* Adjust the width as needed */
}
  